<script>
  $('#nav_bar').addClass('hidden');
  
</script>
<div class="container" id="main-title-bg">
  <div class="row" style="padding-top:150px;">
    <div class="col-md-10">
      <h1 style="font-family: Pacifico; font-size:150px; color: #EAEAEA; text-shadow: 0px 0px 25px #000;" id="main_title">
        <span style="color:#AE0000; text-shadow: 0px 0px 20px #000;">Drop</span>scout <span class="glyphicon glyphicon-map-marker" style="font-size:95px; color:#AE0000; margin-left: 5px;"></span>
      </h1>
      <h2 style="font-family: 'Overlock', serif; color: #EAEAEA; text-align:left; text-shadow: 0px 0px 19px #000; margin-left:12px">
        Know what's going on, instantly. 
      </h2>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row" style="padding-top:30px; text-align:center;">
    <a href="<%= signin_path %>" style="float: left; margin-left: 20px; text-shadow: 0px 0px 20px #000;">
      <img src="https://s3-eu-west-1.amazonaws.com/poledancedictionary.com/images/login_fb.png" alt=""></img>
    </a>
  </div>
</div>


