<div id="map-canvas" style="top: 0;left: 0px;bottom: 0px;right: 0px;height: auto;position: absolute;margin-top: 50px;"></div>
<div>
  <!-- <input type='text' id='eventName' placeholder='Message'> -->
</div>
<%= render 'map' %>
<div style="position: absolute; left: 50%; width: 400px; top: 48px;">
  <div id="top-box" class="slider-two closed" style="background-color: white; height:500px;">
    <div class="row" style="color: gray; text-align: center;font-family: Pacifico; font-size:30px; margin-left:0px !important;margin-right:0px !important;">Nearby Events:</div>
    <div id="nearbyEvents" class="" style="">

    </div>
  </div>
</div>


<form accept-charset="UTF-8" action="/events/create" class="new_event" id="new_event" method="post" novalidate="novalidate">
<div style="position: absolute; left: 50%; width: 500px; bottom: -2px;">
  <div id="bottom-box" class="slider closed" style="background-color: rgb(79, 130, 195);padding-top:0px; height:100px;">
    <div class="" style="text-align:center" style="margin-left:0px !important;margin-right:0px !important;">
      <div class="row" style="color:#EAEAEA; font-family: Pacifico; font-size:30px; margin-left:0px !important;margin-right:0px !important;">New Event:</div>
      <div class="col-md-8" style="width:72.666667%;padding-right: 0px;padding-left: 32px;">
        <input class="form-control string optional" id="event_name" name="event[name]" type="text" style="border-radius:0px;">
      </div>
      <div class="col-md-4" style="width:24.333333%; padding:0px;">
        <input name="commit" type="submit" value="Add Event" class="btn btn-success" style="border-radius:0px;">
      </div>
    <input id="form_latitude" name="event[latitude]" type="hidden">
    <input id="form_longitude" name="event[longitude]" type="hidden">
    </div>
  </div>
</div>
</form>


<script>
var initialLocation;

<%
  graph = Koala::Facebook::API.new(current_user.token)
  friends = graph.get_connections("me", "friends").map { |f| f['id'] }
%>

var friendsIds = $.parseJSON('<%= raw friends.to_json.html_safe %>');



$(function(){
  initialize();
  $( "#bottom-box" ).hover(function() {
    $( this ).toggleClass( 'closed' );
  });
  $( "#top-box" ).hover(function() {
    $( this ).toggleClass( 'closed' );
  });
})

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex ;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

var comments = [];
function addComment(marker, comment) {

  html = '<div style="min-width: 190px;">' +
            '<div style="display:inline-block; height: 20px;">' +
              '<img src="https://graph.facebook.com/v2.2/' + comment.user_id + '/picture" style="height: 20px;">' +
            '</div>' +
            '<div style="margin-left: 21px;margin-top: -21px;" class="text-muted">' + comment.name + '</div>';
  if (comment.image) {
    html += '<img style="width: 150px" src="' + comment.image + '">';
  } else {
    html += '<div style="margin-left: 5px; margin-top: 4px;">'+comment.message+'</div></div>';
  }
  comments.unshift([marker, html]);
  shuffle(comments);
}

function showComment(marker, html) {
    marker.newComments.content = html;

    marker.setAnimation(google.maps.Animation.BOUNCE);
    setTimeout(function() { marker.setAnimation(null); }, 750);
    marker.newComments.open(map, marker);
    setTimeout(function() { marker.newComments.close(); }, 3000);
}

setInterval(function() {
  if (comments.length > 0) {
    comment = comments.shift();
    comments.push(comment);
    showComment(comment[0], comment[1]);
  }
}, 6000);

function loadEvents(){
  var nearbyEvents = [];
  var eventsRef = new Firebase('https://eavesdrop.firebaseio.com/events');

  eventsRef.on('child_added', function(snapshot) {
    var event = snapshot.val();
    displayEvents(snapshot.key(), event.name, event.latitude, event.longitude, event);

    setTimeout( function(){ displayNearbyEvents(snapshot.key(), event);}, 1500);
  });

  function displayNearbyEvents(id, event){
    var distance = Math.sqrt(Math.pow(initialLocation.k - event.latitude, 2) + Math.pow(initialLocation.B - event.longitude, 2)) * 111000;

    var content = '<div id="content'+id+'" class="events-list" style="margin-left: 0; margin-right: 0">'+
      '<div class="row">'+
        '<div class="col-md-6" style="font-size: 18px;font-weight: 100;">'+
          '<i class="fa fa-map-marker" style="color: lightblue; margin-right: 7px;"></i><a href="/events/'+id+'" >'+event.name+
        '</a></div>'+
        '<div class="col-md-6" style="text-align: right;">'+
          '<i class="fa fa-group" style="color: gray;"></i><span event_id="' + id + '" style="color: green">...</span>' +
        '</div>'+
      '</div>' +
      '<div class="row">'+
        '<div class="col-md-6" style="text-align: left">'+
          '<div class="pictures" style="" event_id="' + id + '"></div>' +
        '</div>' +
        '<div class="col-md-6" style="text-align: right;">'+
          +parseInt(distance)+' meters away.'+
        '</div>'+
      '</div>' +
    '</div>';

    $('#nearbyEvents').append(content);

  }

  function displayEvents(id, name, lat, lng, event) {
    var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

    var contentString = '<div id="hook'+id+'" style="font-size: 18px;font-weight: 100; min-width: 200px"><i class="fa fa-map-marker" style="color: lightblue; margin-right: 7px;"></i>' + name + '</div>';

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(lat, lng),
      map: map,
      animation: google.maps.Animation.DROP,
      title: name,
      icon: iconBase + 'schools_maps.png',
      // icon: "<%= image_path('location-pointer2.png') %>",
      info: new google.maps.InfoWindow({
        content: contentString,
        zIndex: 10000
      }),
      newComments: new google.maps.InfoWindow({
        content: '<h3> comment here </h3>',
        maxWidth: 400,
        disableAutoPan: true
      })
    });

    google.maps.event.addListener(marker, 'mouseover', function() {
      marker.info.open(map, marker);
    });

    google.maps.event.addListener(marker, 'mouseout', function() {
      marker.info.close();
    });

    google.maps.event.addListener(marker, 'click', function(){
      location.href = 'events/'+id;
    });

    var usersRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+id+'/users');

    var activeUsers = 0;
    var friendsOnThisEvent = [];
    var friendsPictures = '';
    usersRef.on('child_added', function(snapshot) {
      user_id = snapshot.val();
      if ($.grep(friendsIds, function(friendId) { return friendId == user_id }).length > 0 &&
          $.grep(friendsOnThisEvent, function(friendId) { return friendId == user_id }).length == 0) {
        friendsOnThisEvent.push(user_id);
        html = marker.info.content;
        picture = '<div style="display: inline-block"><img class="img-circle" style="width: 30px; height: 30px" src="https://graph.facebook.com/v2.2/' + user_id + '/picture"></div>';
        friendsPictures += picture;
        html += picture;
        marker.info.content = html;
      }

      activeUsers += 1;
    });

    setInterval(function() {
      $('span[event_id="'+id+'"]').html(activeUsers +' Active');
      $('.pictures[event_id="'+id+'"]').html(friendsPictures);
    }, 1000);

    //=========================================================================
    //COMMENT LOADING

    var commentsRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+id+'/comments');

    // var newItems = false;

    commentsRef.on('child_added', function(snapshot) {
      // if (!newItems) return;
      var comment = snapshot.val();
      addComment(marker, comment);
    });


    commentsRef.once('value', function(messages) {
      newItems = true;
    });
  }
}

function randomEvents(){
  var eventsRef = new Firebase('https://eavesdrop.firebaseio.com/events');
  for(i = 0; i < 3; i++){
    var name = "TEST EVENT";
    if(i==0){
      name = "Free Sweets!"
    } else if(i == 1){
      name = "PartyHere!"
    } else {
      name = "Facebook Tour"
    }

    if(i < 3){
      var event = eventsRef.push({
        name: name,
        latitude: (37.484116 + (Math.random()-0.5)*0.005),
        longitude: (-122.147793 + (Math.random()-0.5)*0.005),
      });
    } else {
      var event = eventsRef.push({
        name: name,
        latitude: (37.484116 + (Math.random()-0.5)*0.005),
        longitude: (-122.147793 + (Math.random()-0.5)*0.005),
      });
    }
    console.log(event.path.m[1]);
    key = event.path.m[1];
    var childCommentsRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+key+'/comments');
    var usersRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+key+'/users');

    if(i==0){
      childCommentsRef.push({
        message: "I wonder how the hackathon competition is going.",
        name: "Amaya Quiroz",
        user_id: "1157319713"
      });
      usersRef.push("1157319713");


      childCommentsRef.push({
        message: "I have no idea what a hackathon is.",
        name: "Louis Gustavson",
        user_id: "1157319714"
      });
      usersRef.push("1157319714");

      childCommentsRef.push({
        message: "A competition where you create awesome applications!.",
        name: "Amaya Quiroz",
        user_id: "1157319713"
      });
      usersRef.push("1157319713");
    } else if(i==1) {
      childCommentsRef.push({
        message: "Food is awesome at this party!.",
        name: "Amy Han",
        user_id: "1157319720"
      });
      usersRef.push("1157319720");

      childCommentsRef.push({
        message: "I know right!?",
        name: "Itxasne Llamosas",
        user_id: "1157319650"
      });
      usersRef.push("1157319650");      

      childCommentsRef.push({
        message: "This burrito is freaking delicious!.",
        name: "Amy Han",
        user_id: "1157319720"
      });
      usersRef.push("1157319720");
    } else if(i==2) {
      childCommentsRef.push({
        message: "Facebook HQ is awesome!",
        name: "Willy Rafael",
        user_id: "1157315678"
      });
      usersRef.push("1157315678");

      childCommentsRef.push({
        message: "More like FOODBOOK!",
        name: "Jo Jones",
        user_id: "1157315679"
      });
      usersRef.push("1157315679");

      childCommentsRef.push({
        message: "Or FACEFOOD!",
        name: "Willy Rafael",
        user_id: "1157315678"
      });
      usersRef.push("1157315678");

      childCommentsRef.push({
        message: "No.",
        name: "Jo Jones",
        user_id: "1157315679"
      });
      usersRef.push("1157315679");
    }
  }
}
</script>
