<div class="row" style="">
  <div class="col-md-7" style="box-shadow: -3px -32px 64px 2px black;padding-right: 35px; z-index: 3;border-right: 4px dashed white;">
    <h3 style="margin-bottom: 24px;">
      <%= @event.name %>'s Feed
    </h3>
    <div class="row">
      <div class="col-md-12" id="chat_column">

        <div id="form_comment" class="row" style="margin-bottom:15px;">
          <div class="col-md-12" style="position: relative;">
            <textarea style="width: 87%; margin-left: 69px;" class="form-control" type="text" id="messageInput" placeholder="Type here..."></textarea>
            <input id="picture-input" type="file" name="file" style="position: absolute; top: -1000px; display: none;" />
          </div>

          <button id="submit-btn" class="btn btn-info " style="width: 54px; height: 54px">
            <span class="glyphicon glyphicon-pencil" style="font-size: 24px" aria-hidden="true"></span>
          </button>
          <button id="add-picture" class="btn btn-primary " style="width: 54px; height: 54px">
            <span class="glyphicon glyphicon-camera" style="font-size: 24px" aria-hidden="true"></span>
          </button>
        </div>
        <div  id="timeline-chat" class="timeline-centered" style="margin-bottom: 10px">

          <div id="comments_container">
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-md-5" style="padding: 0px; z-index: 1;">
    <div id="map_well" class="well" style="height: 700px; margin-bottom: 0px; padding: 0px;">
      <div id="map-canvas" style="height: 100%;"></div>
      <%= render 'map' %>
    </div>
  </div>

</div>

<script>

$(function(){
  initialize(<%= @event.latitude %>, <%= @event.longitude %>, 14);

  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude;

      event_latitude = parseFloat("<%= @event.latitude %>");
      event_longitude = parseFloat("<%= @event.longitude %>");

      distance = Math.sqrt(Math.pow(latitude - event_latitude, 2) + Math.pow(longitude - event_longitude, 2)) * 111000;

      if (distance < 500) {
        $('#form_comment').show();
      }

    }, function() {});
  }
});

$(window).load(function(){ // On load
      $('#map_well').css({'height':(($(window).height() - 51))+'px'});
      $('#timeline-chat').css({'height':(($(window).height() - 215))+'px'});
    });
    $(window).resize(function(){ // On resize
      $('#map_well').css({'height':(($(window).height() - 51))+'px'});
      $('#timeline-chat').css({'height':(($(window).height() - 215))+'px'});

    });

$( "#submit-btn" ).on( "click", function() {
  submit();
});

$('#messageInput').keypress(function(e) {
    if(e.which == 13) {
      submit();
    }
});

var commentsRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+"<%= @event.firebase_id %>"+'/comments');
var usersRef = new Firebase('https://eavesdrop.firebaseio.com/events/'+"<%= @event.firebase_id %>"+'/users');

function submit(){
  var name;
  var id;
  var text = $('#messageInput').val();
  name = "<%= current_user.name %>";
  score = 0;
  time = new Date();
  commentsRef.push({
    name: name,
    message: text,
    user_id: "<%= current_user.uid %>",
    time: time.toJSON()
  });
  $('#messageInput').val('');
  usersRef.push("<%= current_user.uid %>");
}

var newComments = false;

commentsRef.on('child_added', function(snapshot) {
  comment = snapshot.val();
  time = comment.time;
  html = '<article class="timeline-entry">' +
            '<div class="timeline-entry-inner">' +
              '<div class="timeline-icon bg-success">' +
                '<img src="https://graph.facebook.com/v2.2/' + comment.user_id + '/picture" class="img-circle">' +
              '</div>' +
              '<div class="timeline-label" hidden>' +
                '<div style="display: inline-block">' +
                  '<h2><a href="http://www.facebook.com/' + comment.user_id + '">' + comment.name + '</a></h2>' +
                '</div>' +
                '<div class="pull-right" style="display: inline-block">' +
                  '<span class="time text-muted" style="font-size: 11px;margin-left: 5px;" time="' + time + '">' + moment(time).fromNow() + '</span>' +
                '</div>';

  if (comment.image) {
    html += '<img style="width: 500px" src="' + comment.image + '">';
  } else {
    html += '<p style="font-size: 15px;">' + comment.message + '</p>';
  }

  html += '</div>' + '</div>' + '</article>';

  $('#comments_container').prepend(html);

  if (newComments){
    $('.timeline-label:first').slideDown();
    $('.timeline-label:first').addClass('fadeWhite');
  }else{
    $('.timeline-label:first').show();
  }

});

commentsRef.once('value', function(messages) {
  newComments = true;
});

$('#add-picture').on('click', function(e) {
  e.preventDefault();
  $('#picture-input').click();
});

$('#picture-input').on('change', function() {
  files = event.target.files;
  file = files[0];
  data = new FormData();
  data.append('picture', file);
  $.ajax({
    url: '/pictures/upload',
    type: 'POST',
    data: data,
    processData: false,
    contentType: false,
    success: function(data, textStatus, jqXHR) {
      time = new Date();
      commentsRef.push({
        name: "<%= current_user.name %>",
        message: '',
        user_id: "<%= current_user.uid %>",
        time: time.toJSON(),
        image: data.image
      });
    },
  });
});

setInterval(function() {
  $.each($('.time'), function(index, div) {
    time = $(div).attr('time');
    $(div).text(moment(time).fromNow());
  });
}, 10000);
</script>
