/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
  font-family:'Pacifico';
  src:font-url('Pacifico.ttf');
  src:font-url('Pacifico.ttf') format('truetype');
} 

@font-face {
  font-family:'Overlock';
  src:font-url('Overlock.ttf');
  src:font-url('Overlock.ttf') format('truetype');
} 

nav {
  z-index: 10000;
}

#comments_container {
  height: 100%;
  overflow-y:auto
}

#map-canvas img {
  max-width: none;
}

#map-canvas {
  height: 100%;
}

#bottom-box {
  position: relative; 
  left: -50%; 
  height: 100px; 
  border: solid gray 2px; 
  background-color: white; 
  height: 73px;
  border: solid lightgray 2px;
  background-color: white;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  box-shadow: 0px 0px 30px gray;
  padding: 10px;
  padding-top: 0px;
}

#top-box {
  position: relative; 
  left: -50%; 
  height: 100px; 
  border: solid gray 2px; 
  background-color: white; 
  height: 73px;
  border: solid lightgray 2px;
  background-color: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0px 0px 30px gray;
  padding: 10px;
}

#submit-btn {
  position:absolute;
  right:14px;
  z-index: 5;
  border-radius: 0px;
}

#add-picture {
  position:absolute;
  right:68px;
  border-radius: 0px;
}

.timeline-centered:before {
  top: 0px;
  bottom: 0px;
}

@-webkit-keyframes fadeWhite {
  0% {background-color: lightgreen;}
  100% {background-color: white;}
}

@keyframes fadeWhite {
  0% {background-color: lightgreen;}
  100% {background-color: white;}
}

.fadeWhite {
     -moz-animation: fadeWhite 1400ms ease-in 0s 1 forwards;
  -webkit-animation: fadeWhite 1400ms ease-in 0s 1 forwards;
          animation: fadeWhite 1400ms ease-in 0s 1 forwards;
}


.slider {
  overflow-y: auto;
  max-height: 100px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider-two {
  overflow-y: auto;
  max-height: 400px; /* approximate max height */

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
  max-height: 20px;
}

.slider-two.closed {
  max-height: 20px;
}

.box-shadow {
  pointer-events: none;
  box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.9);
  z-index: 10;
}

.gm-style {
  z-index: -1;
}

.events-list {
  border: 1px solid lightgray;
  padding: 6px;
}

.hoverToHighlight {
  color: white !important;
}
.hoverToHighlight:hover {
  color: yellow !important;
}
