
// @import url('http://fonts.googleapis.com/css?family=Overlock');
// @import url('http://fonts.googleapis.com/css?family=Pacifico');

body { 
  background: url('image-3.jpg'); 
  background-color: #2FDEE3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main-bg {
  background: transparent; 
  padding-bottom: 0px;
}

.timeline-centered {
  margin-bottom: 0px;
}

h1 #main_title{
  color: black; 
  text-align:left; 
  font-size:150px; 
  font-family: 'Pacifico', sans-serif; 
  text-shadow: 0px 0px 25px #000;
}

h3 {
  color: #EAEAEA; 
  text-align:center; 
  font-size:40px; 
  font-family: 'Pacifico', sans-serif; 
  text-shadow: 0px 0px 25px #000;
}