<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top" id="nav_bar" style="background-color:#AE0000;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Dropscout', root_path, class: 'navbar-brand', style: 'color:#EAEAEA; font-size:30px; margin-right:17px; font-family:Pacifico' %>
    </div>
    <div class="collapse navbar-collapse">

      <div class="navbar-right">
        <ul class="nav navbar-nav" style="font-familty: 'Open Sans',sans-serif;">
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    </div>
  </div>
</nav>
