<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li ><%= link_to 'Events', events_path, class: 'hoverToHighlight' %></li>

  <% if controller_name == 'events' && action_name == 'index' %>
    <li style="margin-top: 0px">
    </li>
  <% end %>

  <li  ><%= link_to 'Sign out', signout_path, class: 'hoverToHighlight' %></li>

<% else %>
  <li  ><%= link_to 'Sign in', signin_path, class: 'hoverToHighlight' %></li>
<% end %>

