<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Dropscout" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Dropscout" %>">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Eavesdrop" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9hxEoH4XJ7uXcdA7-Pf3tnfu9UcY6SiI&sensor=false"></script>
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/20-flat-icons/128/location-pointer.png"/>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" id="main-bg">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
